{% extends 'base.html' %}

{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}" >Наблюдательный совет</a>
        <a href="{% url 'histories'%}" >История</a>
        <a href="{% url 'ceo-info' %}" >Руководитель</a>
        <a href="{% url 'vacancies'%}" >Вакансии</a>
        <a href="{% url 'orgStruct'%}" >Организационная структура</a>
        <a href="{% url 'reviews'%}" >Отзывы</a>
        <a href="{% url 'contacts'%}">Контакты</a>
        <a href="{% url 'rights-acts'%}" >Правовые акты</a>
        <a href="{% url 'workers-info'%}" >Сведения о работниках</a>
        <a href="{% url 'antiCor'%}" >Противодействие коррупции</a>
        <a href="{% url 'ads' %}"  class = "selected">Протокол итогов</a>
    </div>
    <div class="rules">        
        <div class="rule-plates">
            {% for ad in ads %}
            <h2 class="Title">{{ad.title}}</h2>
            <table >
                
                <tr>
                    <th>Название</th> <th>Скачать</th> 
                </tr>
                {% for file in ad.files %}
                    <tr>
                        <td>{{file.name}} {{file.date}}</td> <td><a href="../media/{{file.file}}">Скачать</a></td> 
                    </tr>
                {% endfor %}
            </table>
            
            {% endfor %}
        </div>
    </div>
</div> 

{% endblock %}