{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Edit Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        {% for image in post_att %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{image.pk}}" id="{{image.pk}}" name="attachments">
            <img src="/media/{{image.file}}" alt="" style="width: 100px; height: 100px; object-fit: cover;">
          </div>
        {% endfor %}
        <button>SUBMIT</button>
    </form>
</div>
{% endblock %}