{% extends 'base.html' %}

{% block content %}
<div class="form-card">
    <h1>Войти в систему</h1>
    <form action="" class="login-card" method="POST">
        {% csrf_token %} 
        {{ form.email }}
        <span class="password">
            {{ form.password }}
            <a href="#" class="password-control" id="pi" onclick="return show_hide_password(this);"></a>
        </span> 
        <span class="form-inputs">
            <button class="btn" type="submit">Войти</button>
            <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        </span>
    </form>
</div>
<script src="../static/script.js"></script>
{% endblock %}
