{% extends 'base.html' %}

{% block content %}
<div class="form-card">
    <h1>Регистрация</h1>
    <form action="" class="login-card" method="post">
        {% csrf_token %} 
        
        {{ form.name }}
        {% if form.name.help_text %} 
        <small style="display: none ">{{ form.name.help_text }}</small> 
        {% for error in form.name.errors %} 
        <p style="color: red">{{ error }}</p> 
        {% endfor %}
        {% endif %}

        {{ form.surename }}
        {% if form.surename.help_text %} 
        <small style="display: none ">{{ form.surename.help_text }}</small> 
        {% for error in form.surename.errors %} 
        <p style="color: red">{{ error }}</p> 
        {% endfor %}
        {% endif %}

        {{ form.email }}
        {% if form.email.help_text %} 
        <small style="display: none ">{{ form.email.help_text }}</small> 
        {% for error in form.email.errors %} 
        <p style="color: red">{{ error }}</p> 
        {% endfor %}
        {% endif %}

        {{ form.phone }}
        {% if form.phone.help_text %} 
        <small style="display: none ">{{ form.phone.help_text }}</small> 
        {% for error in form.phone.errors %} 
        <p style="color: red">{{ error }}</p> 
        {% endfor %}
        {% endif %}
        
        <span class="password">
            {{ form.password1 }}
            <a href="#" class="password-control" id="pi" onclick="return show_hide_password(this);"></a>
        </span> 
        {% if form.password1.help_text %} 
        <small style="display: none ">{{ form.password1.help_text }}</small> 
        {% for error in form.password1.errors %} 
        <p style="color: red">{{ error }}</p> 
        {% endfor %}
        {% endif %}
        <span class="password">
            {{ form.password2 }}
            <a href="#" class="password-control" id="pi1" onclick="return show_hide_password(this);"></a>
        </span> 
        {% if form.password2.help_text %} 
        <small style="display: none ">{{ form.password2.help_text }}</small> 
        {% for error in form.password2.errors %} 
        <p style="color: red">{{ error }}</p> 
        {% endfor %}
        {% endif %}
        <span class="form-inputs">
            <button class="btn" type="submit">Зарегестрироваться</button>
            <a href="{% url 'login'%}">Войти</a>
        </span>
    </form>
</div>
<script src="../static/script.js"></script>
{% endblock %}