{% extends 'base.html' %}

{% block content %}
    <div class="form-card">
        <h1>{%trans 'Восстановление пароля'%}</h1>
        <form action="" class="login-card" method="POST">
            {% csrf_token %}
            <span class="password">
                {{ form.new_password1 }}
                <a href="#" class="password-control" id="pi" onclick="return show_hide_password(this);"></a>
            </span> 
            <span class="password">
                {{ form.new_password2 }}
                <a href="#" class="password-control" id="pi1" onclick="return show_hide_password(this);"></a>
            </span> 
            <button class="btn" type="submit">{%trans 'Изменить пароль'%}</button>
        </form>
    </div>
    <script src="../../../static/script.js"></script>
{% endblock %}