{% extends 'base.html' %}

{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'med-services'%}" class = "selected">Медицинские услуги</a>
        <a href="{% url 'rules'%}" >Правила санатория</a>
    </div>
    <div class="rules">
        <span class="Title"> Медицинские услуги </span>
        {% if file.file %}
        <div class="documents">
            <iframe src="/media/{{file.file}}"></iframe>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}