{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
                <a href="{% url 'histories'%}">{% trans 'История' %}</a>
                <a href="{% url 'ceo-info' %}">{% trans 'Руководитель' %}</a>
                <a href="{% url 'vacancies'%}">{% trans 'Вакансии' %}</a>
                <a href="{% url 'orgStruct'%}">{% trans 'Организационная структура' %}</a>
                <a href="{% url 'reviews'%}">{% trans 'Отзывы' %}</a>
                <a href="{% url 'contacts'%}">{% trans 'Контакты' %}</a>
                <a href="{% url 'rights-acts'%}">{% trans 'Правовые акты' %}</a>
                <a href="{% url 'workers-info'%}">{% trans 'Сведения о работниках' %}</a>
                <a href="{% url 'antiCor'%}" class = "selected">{% trans 'Противодействие коррупции' %}</a>
                <a href="{% url 'ads'%}">{% trans 'Протокол итогов' %}</a>
    </div>
    <div class="rules">
        <span class="Title"> {% trans 'План по противодействию коррупции' %} </span>
        <div class="new-frame anticor">
            <div class="rules">
                {% for file in files %}
                <a class="anticor-list" href = "{% url 'antiCorDetails' fid=file.pk%}">{{file.title}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div> 
{% endblock %}