{% extends 'base.html' %}
{% load i18n%}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'histories'%}">{% trans 'История' %}</a>
        <a href="{% url 'ceo-info' %}" class = "selected">{% trans 'Руководитель' %}</a>
        <a href="{% url 'vacancies'%}">{% trans 'Вакансии' %}</a>
        <a href="{% url 'orgStruct'%}" class = "selected">{% trans 'Организационная структура' %}</a>
        <a href="{% url 'reviews'%}">{% trans 'Отзывы' %}</a>
        <a href="{% url 'contacts'%}">{% trans 'Контакты' %}</a>
        <a href="{% url 'rights-acts'%}">{% trans 'Правовые акты' %}</a>
        <a href="{% url 'workers-info'%}">{% trans 'Сведения о работниках' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Протокол итогов' %}</a>
    </div>
    <div class="rules">
        <span class="Title"> {% trans 'Организационная структура' %} </span>
        {% if file %}
        <div class="documents">
            <iframe src="/media/{{file.file}}"></iframe>
        </div>
        {% endif %}
    </div>
</div> 
{% endblock %}