{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
                <a href="{% url 'histories'%}">{% trans 'История' %}</a>
                <a href="{% url 'ceo-info' %}">{% trans 'Руководитель' %}</a>
                <a href="{% url 'vacancies'%}">{% trans 'Вакансии' %}</a>
                <a href="{% url 'orgStruct'%}">{% trans 'Организационная структура' %}</a>
                <a href="{% url 'reviews'%}">{% trans 'Отзывы' %}</a>
                <a href="{% url 'contacts'%}" class = "selected">{% trans 'Контакты' %}</a>
                <a href="{% url 'rights-acts'%}">{% trans 'Правовые акты' %}</a>
                <a href="{% url 'workers-info'%}">{% trans 'Сведения о работниках' %}</a>
                <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
                <a href="{% url 'ads'%}">{% trans 'Протокол итогов' %}</a>
    </div>
    <div class="rules">        
        <div class="rule-plates">
            <h2 class="Title">{% trans 'Контакты' %}</h2>
            <p class="table-title">{% trans 'Список руководителей РЦР «Бурабай»' %}:</p>
            <div class="tables">
                <table >
                
                    <tr>
                        <th>{% trans 'ФИО' %}</th> <th>{% trans 'Должность' %}</th> <th>{% trans 'Тел. номер' %}</th> <th>{% trans 'Эл. почта' %}</th>
                    </tr>
                    {% for manager in managers %}
                        <tr>
                            <td>{{manager.name}}</td> <td>{{manager.post}}</td> <td>{{manager.phone}}</td> <td>{{manager.email}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
            <p class="table-title">{% trans 'График личного приема директора, заместителей директора на 2022 год' %}:</p>
            <div class="tables">
                <table >
                    <tr>
                        <th>{% trans 'ФИО' %}</th> <th>{% trans 'Должность' %}</th> <th>{% trans 'Дни и время приема' %}</th>
                    </tr>
                    {% for manager in managers %}
                    {% if manager.show == 1 %}
                        <tr>
                            <td>{{manager.name}}</td> <td>{{manager.post}}</td> <td>{{manager.reception}}</td> 
                        </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>

            <p class="table-title">{% trans 'Контакты РГП на ПХВ РЦР «БУРАБАЙ» МЗ РК' %} :</p>
            <div class="contact-list">
            {% for contact in contacts %}
                <p><b>{{contact.title}}:</b> {{contact.info}}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div> 

{% endblock %}