{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
                <a href="{% url 'histories'%}" class = "selected">{% trans 'История' %}</a>
                <a href="{% url 'ceo-info' %}">{% trans 'Руководитель' %}</a>
                <a href="{% url 'vacancies'%}">{% trans 'Вакансии' %}</a>
                <a href="{% url 'orgStruct'%}">{% trans 'Организационная структура' %}</a>
                <a href="{% url 'reviews'%}">{% trans 'Отзывы' %}</a>
                <a href="{% url 'contacts'%}">{% trans 'Контакты' %}</a>
                <a href="{% url 'rights-acts'%}">{% trans 'Правовые акты' %}</a>
                <a href="{% url 'workers-info'%}">{% trans 'Сведения о работниках' %}</a>
                <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
                <a href="{% url 'ads'%}">{% trans 'Протокол итогов' %}</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Бурабай истории и легенды края' %}</span>
        
        <div class="rule-plates">
            {% for history in histories %}
            <div class="new-frame">
                <h3>{{ history.title }}</h3>
                {% for part in history.info_parts %}
                    <p>{{ part }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    
</div> 
{% endblock %}