{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'histories'%}">{% trans 'История' %}</a>
        <a href="{% url 'ceo-info' %}">{% trans 'Руководитель' %}</a>
        <a href="{% url 'vacancies'%}" class = "selected">{% trans 'Вакансии' %}</a>
        <a href="{% url 'orgStruct'%}">{% trans 'Организационная структура' %}</a>
        <a href="{% url 'reviews'%}">{% trans 'Отзывы' %}</a>
        <a href="{% url 'contacts'%}">{% trans 'Контакты' %}</a>
        <a href="{% url 'rights-acts'%}">{% trans 'Правовые акты' %}</a>
        <a href="{% url 'workers-info'%}">{% trans 'Сведения о работниках' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Протокол итогов' %}</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Вакансии' %}</span>
        <div class="new-frame">
            <h2>{% trans 'Республиканское государственное предприятие на праве хозяйственного ведения «Научно-исследовательский институт курортологии и медицинской реабилитации» Министерства здравоохранения Республики Казахстан объявляет  конкурс на занятие следующих вакантных должностей' %}:</h2>
            {% if datas %}
            <ul>
                {% for data in datas %}
                    <li>{{ data.vacancy }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if info.compAddress %}
            <p>{% trans 'Место проведения конкурса' %}: {{info.compAddress}}</p>
            {% endif %}
            {% if info.enterprise %}
            <p>{% trans 'Место нахождения предпрятия' %}: {{info.enterprise}}</p>
            {% endif %}
            {% if info.description %}
            <p>{%trans 'Краткое описание основной деятельности предприятия'%}: </p>
            <ul>    
            {% for data in info.description %}
                <li>{{data}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if datas %}
            <p><u>{%trans 'Требование к участникам конкурса'%}:</u></p>
                {% for data in datas %}
                <p><b>{{data.vacancy}}:</b></p>
                    {% for part in data.requirement_parts %}
                        <p>{{part}}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if info.addmisions %}
            <p><u>{%trans 'Для участия в конкурсе не принимаются следующие лица'%}:</u> </p>
                {% for data in info.addmisions %}
                <p>{{data}}</p>
                {% endfor %}
            {% endif %}
            {% if info.documents or info.additionally %}
            <p><u>{%trans 'Для участия в конкурсе, необходимо представить следующие документы'%}: </u> </p>
            {% endif %}
            {% if info.documents  %}
                {% for data in info.documents %}
                <p>{{data}}</p>
                {% endfor %}
            {% endif %}
            {% if info.additionally %}
                {% for data in info.additionally %}
                <p>{{data}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div> 
{% endblock %}