{% extends 'base.html' %}

{% block content %}
    <div class="banner">
        <div class="back-img">
            <p class="banner-content">РГП на ПХВ  «Научно-исследовательский институт курортологии и медицинской реабилитации» МЗ РК</p>
            <p class="banner-text">НИИ «Курортологии и медицинской реабилитации» в Бурабае - лидер в республиканской реабилитации бронхо-легочных заболеваний. Предоставляет комплексное восстановительное лечение с использованием современных методов и обширного обследования.</p>
            <a href="{% url 'about' %}" class="btn3"> Читать Больше...</a>
        </div>
    </div>
    <div class="question-block">
        <div class="question-inner">
            <div class="info">
                <p class="header">Руководитель</p>
                <p class="header2">Каиргельдина Саягуль Айдаровна</p>
                <p class="phrase">Приветствую Вас на официальной странице организации РГП на ПХВ РЦР «Бурабай» МЗ РК. 
                    Этот сайт дает нам возможность быть открытыми для всех, кому интересна наша работа. Мы будем держать 
                    Вас в курсе деятельности организации, ответим на все интересующие Вас вопросы.
                    С уважением, Каиргельдина Саягуль Айдаровна.
                </p>
                <div class="photo-2">
                    <img src="../static/assets/ceo.jpeg" alt="">
                </div>
                <a href="{% url 'add-review' %}" class="btn">Оставить Обращение</a>
                <a href="{% url 'reviews' %}" class="btn2 mg-l">Посмотреть Обращения</a>
            </div>
            <div class="photo">
                <img src="../static/assets/ceo.jpeg" alt="">
            </div>
        </div>
    </div>
 
    <div class="small-banners">
        <a href="{% url 'symbols' %}" class="sm-banner">
            <div><p>Государственные символы</p></div>
            <img src="../static/assets/banner-1.jpg" alt="">
        </a>
        <div class="swiper sw1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><div class="slider-content"><img src="../static/assets/107.jpg" alt=""></div></div>
              <div class="swiper-slide"><div class="slider-content"><img src="../static/assets/adlet.jpg" alt=""></div></div>
              <div class="swiper-slide"><div class="slider-content"><img src="../static/assets/b1.jpg" alt=""></div></div>
              <div class="swiper-slide"><div class="slider-content"><img src="../static/assets/b3-1.jpg" alt=""></div></div>
              <div class="swiper-slide"><div class="slider-content"><img src="../static/assets/b3.jpg" alt=""></div></div>
              <div class="swiper-slide"><div class="slider-content"><img src="../static/assets/b4.jpg" alt=""></div></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- If we need navigation buttons -->
          </div>
        
        <a href="{% url 'messages' %}" class="sm-banner">
            <div><p>Послание Главы государства Касым-Жомарта Токаева народу Казахстана</p></div>
            <img src="../static/assets/banner-2.jpg" alt="">
        </a>
    </div>
    <div class="astana-banner">
        <div class="swiper sw">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><a target="_blank" href="https://www.gov.kz/memleket/entities/dsm/press/events/details/25580?lang=kk"><img src="../static/assets/banner1.png" alt=""></a></div>
              <div class="swiper-slide"><a target="_blank" href="https://www.gov.kz/memleket/entities/anticorruption?lang=kk"><img src="../static/assets/banner2.jpg" alt=""></a></div>
              <div class="swiper-slide"><a target="_blank" href="https://fms.kz/kz/useful-to-know/kak-lechitsia-za-rubezhom/"><img src="../static/assets/banner3.jpg" alt=""></a></div>
              <div class="swiper-slide"><span><img src="../static/assets/banner4.jpg" alt=""><span></div>
              <div class="swiper-slide"><a target="_blank" href="https://www.gov.kz/memleket/entities/vss/activities/424?lang=kk"><img src="../static/assets/banner5.jpg" alt=""></a></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination pag"></div>
            <!-- If we need navigation buttons -->
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/script.js"></script>
{% endblock %}